* {
    font-family: Arial, Helvetica, sans-serif;
}

/*variables*/
:root {
--azul-af :#1c2636;
--beige-af :#e3dac9;
}



body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.alvarofrancoimg {
    max-width: 100%;
    border: solid 3px #1c2636;
    border-radius: 10px;
}

.marketingacademia {
    max-width: 100%;
}
.marketinginicioDos {
    max-width: 100%;
}

.videoaf {
    max-width: 100%;
}



/*mobile*/
@media only screen and (min-width:0px) and (max-width: 768px){
    /*Main*/
    .imagenalvarofranco {
        margin: 50px 0px;
    }
    .divContenidosInicio {
        display: flex;
        max-width: 100%;
    }
    .divContenidosPregunta {
        display: flex;
        max-width: 100%;
    }
    .parrafoInicio {
    color: #1c2636;
    font-size: 20px !important;
    padding-top: 30px;
    text-align: start;
    }
    .liInicio {
        list-style-type: none;
        text-align: start;
        color: #1c2636;
        font-size: 18px;
        padding-bottom: 2px;
    }
    .botonInicio {
        display: flex;
        padding: 3px;
        margin-top: 5px;
        border: solid 3px #1c2636;
        border-radius: 16px;
    }
    .aBotonInicio {
        color: 
        #1c2636;
    }
    /*carrusel*/
    .carousel-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carruselInicio {
        display: flex;
        flex-direction: column;
    }
    /*pregunta*/
    .tituloApertura {
        display: inline-block;
        color: #1c2636;
        font-size: 30px;
        text-align: start;
        padding: 20px 0px;
    }
    .aperturaInicio {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 20px;
    }
    /*footer*/
    .footerContainer {
        background-color: #e3dac9;
        display: flex;
        padding-bottom: 60px;
    }
    .textoFooterAcademia {
        display: flex;
        color: #1c2636;
        font-size: 18px;
        text-align: center;
    }
    .liRRSS {
        color: #1c2636;
        list-style-type: none;
        padding: 10px;
        text-align: center;
    }
    .divRRSS {
        padding-top: 30px;
    }
    .redireccionarFooter {
        color: #1c2636;
        font-size: 18px;
        padding: 15px;
    }
    .divRedireccionar {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .logoFooter {
        align-items: center;
        display: flex;
        padding-bottom: 20px;
    }

    /*Academia*/
    .divContenidosAcademia {
        display: flex;
        margin: 20px 0px;
    }
    .ultimoDivAcademia {
        margin: 40px 0px;
    }
}



/*desktop*/
@media only screen and (min-width:1024px) {
    /*academia*/
    /*nav*/
    .backgroundNav {
        background-color: #1c2636;
    }
    .colorNav {
        color: white !important;
    }
    
    
    /*academia*/
    .videoaf {
        border: solid 3px #1c2636;
    }
    .divContenidosAcademia {
        display: flex;
        margin: 20px 200px;
    }
    .sectionAcademia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*footer*/
    .footerContainer {
        background-color: #e3dac9;
        margin-top: 50px;
    }
    .textoFooterAcademia {
        display: flex;
        color: #1c2636;
        font-size: 18px;
    }
    .liRRSS {
        color: #1c2636;
        list-style-type: none;
        padding: 4px;
        text-align: center;
    }
    .redireccionarFooter {
        color: #1c2636;
        font-size: 18px;
        padding: 7px;
    }
    .divRedireccionar {
        display: flex;
        justify-content: center;
    }
    /*botones*/
    .botonInicio {
        display: flex;
        padding: 3px;
        margin-top: 5px;
        border: solid 3px #1c2636;
        border-radius: 16px;
    }
    .aBotonInicio {
        color: 
        #1c2636;
    }

    /*Inicio*/
    .divContenidosInicio {
        display: flex;
        margin: 20px 0px;
        max-width: 100%;
        padding: 20px 200px;
    }
    .divContenidosPregunta {
        display: flex;
        max-width: 100%;
        margin: 25px 0px;
    }
    .divCarruselInicio {
        display: flex;
        max-width: 100%;
    }
    .tituloApertura {
        color: var(--azul-af);
        font-size: 30px;
        margin: 200px 0px 0px 20px;
        text-align: center;
    }
    .parrafoInicio {
        font-size: 25px;
    }
    .liInicio {
        font-size: 25px;
        list-style-type: none;
    }
    .aperturaInicio {
        font-size: 30px;
    }
    .botonInicio {
        font-size: 30xpx;
    }
    .imagcarrusel {
        max-width: 100%;
    }
    .carousel-item {
        padding: 0px 497px;
    }
}
