h1 {
  font-size: 30px;
  color: #1c2636; }

img {
  max-width: 100%; }

@media only screen and (min-width: 1023px) {
  nav {
    background-color: #1c2636; }
  .colorNav {
    color: #e3dac9 !important;
    font-size: 20px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  nav {
    background-color: white; }
  .colorNav {
    color: #1c2636 !important; } }

@media only screen and (min-width: 1023px) {
  footer {
    background-color: #e3dac9; }
  .redireccionarFooter {
    color: #1c2636 !important;
    font-size: 20px;
    margin: 0px 20px; }
  .textoFooterAcademia {
    color: #1c2636;
    font-size: 20px; }
  .aRRSS {
    color: #1c2636;
    list-style-type: none;
    font-size: 20px;
    padding: 1px 0px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  footer {
    background-color: #e3dac9;
    display: flex; }
  .redireccionarFooter {
    color: #1c2636 !important;
    font-size: 20px;
    margin: 30px 10px; }
  .textoFooterAcademia {
    color: #1c2636;
    font-size: 20px; }
  .aRRSS {
    color: #1c2636;
    list-style-type: none;
    font-size: 20px;
    padding: 1px 0px; } }

.parrafoInicio {
  padding-top: 30px; }
  @media only screen and (min-width: 100px) and (max-width: 768px) {
    .parrafoInicio {
      font-size: 20px;
      text-align: start;
      padding-bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .parrafoInicio {
      font-size: 30px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .liInicio {
    font-size: 18px;
    padding-bottom: 3px; } }

@media only screen and (min-width: 1024px) {
  .liInicio {
    font-size: 23px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .divApertura {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .divApertura {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.aperturaInicio {
  text-align: center;
  margin-top: 50px; }
  @media only screen and (min-width: 100px) and (max-width: 768px) {
    .aperturaInicio {
      padding: 50px 20px 0px 20px; } }

@media only screen and (min-width: 1024px) {
  .carruselInicio {
    margin: 20px 0px 100px 0px; } }

.Boton, .boton--mandar, .boton--aceptar, .boton--resetear {
  background-color: #1c2636;
  text-align: center;
  font-size: 20px;
  border: solid 3px #e3dac9;
  border-radius: 10px; }

.Aboton {
  font-size: 15px;
  color: #e3dac9;
  padding: 3px; }

.boton--mandar {
  background-color: white;
  border: solid 3px #1c2636;
  padding: 3px; }

.boton--aceptar {
  background-color: white;
  border: solid 3px #1c2636;
  padding: 3px; }

.boton--resetear {
  background-color: white;
  border: solid 3px #1c2636;
  padding: 3px; }

.Boton, .boton--mandar, .boton--aceptar, .boton--resetear {
  max-width: 100%;
  max-height: 100%; }

@media only screen and (min-width: 1024px) {
  .sectionAcademia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 40px; }
    .sectionAcademia h1 {
      font-size: 40px; }
    .sectionAcademia p {
      font-size: 25px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .marketingacademia {
    height: 300px;
    width: 300px;
    margin: 0px 50px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .marketinginicioDos {
    height: 250px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .ultimoTextoAcademia {
    padding: 50px 10px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .videoaf {
    max-width: 100%; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .sectionCursos {
    border: solid 3px #1c2636;
    border-radius: 10px;
    margin: 20px; }
    .sectionCursos img {
      padding-left: 50px; }
    .sectionCursos p {
      font-size: 20px;
      text-align: center;
      padding: 5px 10px; }
    .sectionCursos button {
      margin-left: 200px;
      margin-bottom: 20px; } }

@media only screen and (min-width: 1023px) {
  .sectionCursos {
    border: solid 3px #1c2636;
    border-radius: 10px;
    margin: 20px 400px; }
    .sectionCursos p {
      font-size: 20px;
      padding: 20px 20px; }
    .sectionCursos button {
      margin: 0px 0px 20px 20px; } }

@media only screen and (min-width: 1023px) {
  .apartadoPlanes {
    margin: 50px 0px; }
    .apartadoPlanes p {
      padding: 10px 50px 10px 0px; } }

@media only screen and (min-width: 1023px) {
  .membresiaPlanes {
    border: solid 3px #1c2636;
    border-radius: 10px;
    margin: 50px;
    padding: 20px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .membresiaPlanes {
    border: solid 3px #1c2636;
    margin: 50px;
    border-radius: 10px;
    padding: 10px; } }

@media only screen and (min-width: 1023px) {
  .gridContainerPlanes {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .articulosblog {
    border: solid 3px #1c2636;
    margin: 20px; } }

@media only screen and (min-width: 1024px) {
  .articulosblog {
    border: solid 3px #1c2636 !important;
    margin: 50px; } }

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .newsLetter {
    border: solid 3px #1c2636;
    margin: 20px;
    padding: 20px; } }

@media only screen and (min-width: 1024px) {
  .newsLetter {
    border: solid 3px #1c2636;
    margin: 50px;
    padding: 20px;
    display: inline-block;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .tituloBlog {
    font-size: 40px;
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .parrafoBlog {
    font-size: 25px;
    display: flex;
    text-align: center;
    padding: 5px 100px; } }

@media only screen and (min-width: 1024px) {
  .divParrafoBlogDos {
    display: contents;
    justify-content: center; } }
